body {
  background-color: #7f98c4;
  font-family: source sans pro;
}

h1 {
  color: #594a4c;
  font-size: 28px;

  font-weight: 700;
  padding: 20px 0;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
}

.weather-app {
  background-color: #f9f8f8;
  border-radius: 25px;
  border-style: solid;
  box-shadow: 2px 2px 2px 0;
  display: block;
  margin: 150px auto;
  padding: 20px 40px;
  padding-bottom: 40px;
  text-align: center;
  width: 800px;
}

.form-section {
  padding: 20px 10px;
}

.search-field {
  box-shadow: 2px 2px 2px 0;
}
.search-button {
  box-shadow: 2px 2px 2px 0;
  border-color: #f0916d;
  background-color: #f0916d;
  padding: 6px 20px;
  margin-left: -260px;
}

.search-button:hover {
}

.city {
  color: #374c84;
  display: block;
  font-size: 48px;
  font-weight: 800;

  margin-bottom: -10px;
  text-align: left;
}

.weather-today-icon {
  font-size: 48px;

  font-weight: 800;
  padding-top: 20px;
}

.today-temp {
  padding-left: 12px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -20px;
}

.sky {
  text-transform: capitalize;
}

.time-and-feel {
  display: block;
  font-size: 20px;
  font-weight: 100;
  margin-top: 60px;
  padding-top: 30px;
  text-align: left;
}
