body {
  background-color: #7f98c4;
}

.weather-app {
  background-color: #f9f8f8;
  border-radius: 25px;
  border-style: solid;
  box-shadow: 2px 2px 2px 0;
  display: block;
  margin: 150px auto;
  padding: 20px 30px;
  text-align: center;
  width: 800px;
}

h1 {
  color: #374c84;
  font-size: 64px;
  font-family: source sans pro;
  font-weight: 700;
  padding: 20px 0;
  text-align: left;
}

.form-section {
  padding: 20px 10px;
}

.search-field {
  box-shadow: 2px 2px 2px 0;
}
.search-button {
  box-shadow: 2px 2px 2px 0;
  border-color: #f0916d;
  background-color: #f0916d;
}

.city {
  color: #594a4c;
  display: block;
  font-size: 48px;
  font-weight: 800;
  font-family: source sans pro;
  text-align: left;
}

.temp {
  font-size: 48px;
  font-family: source sans pro;
  font-weight: 800;
}

.weather-today-icon {
  font-size: 48px;
}

.time-and-feel {
  display: block;
  font-family: source sans pro;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}
